* {
    box-sizing: border-box;
}

html {
    --theme-color: #fa8072;
    --text-color: #313131;
    --cta-color: #006ecd;
}

body {
    margin: 0;
    font-family: "Inter", system-ui, sans-serif;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 480px;
    height: 100vh;
}

.preview {
    background: var(--theme-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.paper {
    aspect-ratio: 1/1.41;
    background: white;
    height: 90vh;
    padding: 1in;
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.editor {
    padding: 32px;
    color: var(--text-color);
    overflow-y: auto;
}

.form-row {
    margin-bottom: 16px;
}

textarea,
input,
button {
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    display: block;
    width: 100%;
}

textarea {
    resize: none;
}

.row.two-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

label .label {
    display: block;
    margin-bottom: 4px;
}

section {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 4px solid var(--theme-color);
}

.field {
    white-space: pre-wrap;
}

.space {
    height: 32px;
}

.field:empty {
    display: inline-block;
    height: 1lh;
}
