* {
    box-sizing: border-box;
}

html {
    --theme-color: #635050;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.preview {
    background-image: linear-gradient(to right bottom, #777777, #706d71, #6b6368, #67595d, #635050);
    display: flex;
    justify-content: center;
    align-items: center;
}

.paper {
    aspect-ratio: 1/1.41;
    background: white;
    width: 80%;
    padding: 1in;
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.editor {
    padding: 32px;
    color: rgb(66, 84, 102);
    overflow-y: auto;
}

.form-row {
    margin-bottom: 16px;
}

textarea,
input {
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    display: block;
    width: 100%;
}

textarea {
    resize: none;
}

.row.two-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

label .label {
    display: block;
    margin-bottom: 4px;
}

section {
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid var(--theme-color);
}

.field {
    white-space: pre-wrap;
}

.space {
    height: 32px;
}

.field:empty {
    display: inline-block;
    height: 1lh;
}
